[2015-08-07 10:41] vishalgautam opened #1 "Header Error"
Hi Sebastian
I am using your code for zipping the folder which have images . But during extracting from zip files it gives me header . could you please help me what is the issue .

[2015-08-07 12:06] sebastiandev commented on #1
Sure! Please send me the code where you are using zipper and i'll take a
look.
El 7/8/2015 7:41, "vishalgautam" <notifications@github.com> escribió:

[2015-08-16 01:55] sebastiandev commented on #1
@vishalgautam did you solve the problem? are you still experiencing issues? please let me know or I'll close this.

thanks!

[2015-09-10 14:39] #1 closed

[2015-11-04 15:19] Antony007 opened #2 "Error creating Unzipper object"
Hi Sebastian,

I compiled your code in VS2015.  I had to make the following changes to tools.cpp for  VS2015 otherwise it wont compile.

[code]
When running the test program, Unhandled exception is raised while unzipping. Exception is raised while creating a Unzipper object.

std::exception at memory location 0x00E7E9C8

[2015-11-04 16:35] sebastiandev commented on #2
Hey there,

I don't have VS 2015 right now, but initializing with a filename is pretty straight forward, and no tools.cpp method is involved there. Still, did you verified that those changes return the expected values? im asking because it was pretty tricky back when i used them.

Which test is failing? Is the in-memory zip test passing? Could you provide the whole stack-trace?

thanks!

[2015-11-05 12:17] Antony007 commented on #2
Sorry Sebastian,

I had used microsoft's secure functions (fopen_s etc.). I undid that and used #define _CRT_SECURE_NO_WARNINGS 1 .  Now the issue is solved.

[2015-11-05 12:17] #2 closed

[2015-11-05 13:28] sebastiandev commented on #2
No problem! Thanks for giving it a try, i hope you find it useful :)

Also if you want to add the conditionals for VS2015 so it works on both
compilers, feel free to send me a pull request and I will add those changes.

Seba.

On Thu, Nov 5, 2015 at 9:17 AM, Antony007 <notifications@github.com> wrote:

[2016-05-24 00:37] laxeot opened #3 "Build Instructions (Windows)"
Hi there,
I'm not entirely sure how to build this, especially without taking advantage of CMake. Every time I attempt to use Visual Studio to build it, I keep running into countless linker errors and don't know where to start. Is there any way you can improve upon the build instructions? Thank you!

[2016-05-24 12:35] sebastiandev commented on #3
Hey,
The project should build out of the box as is. First of all, remember its only C++11, an older version wont work because im making use of lambdas,  generators and all those fancy new things.
If you have c++11 then also have in mind that it was only tested on VS2013 and remember that it depends on zlib as it is explained on the configuration.

If you are stil having problems, then paste the co

[2016-06-24 12:37] alexbala opened #4 "Failing to archive binary files"
Hi Sebastian,

I compiled your code in VS2015 after I've made the changes Antony007 said about in the issue he opened.
It's working properly (compressing and uncompressing) for text files, but I had problems whenever I chose files like dlls, libs, exes, chms, etc. They were incomplete (much smaller in size) after archive.
I've made it working by specifying the 'binary' flag when you create the ifs

[2016-06-24 12:52] #3 closed

[2016-06-24 12:58] sebastiandev commented on #4
Hey, yep i missed that one. good catch. Wanna make a pull request for this change?

Thanks!

[2016-06-24 13:00] alexbala commented on #4
I'm new to github. I've made an account just to write the previous comment :) I don't know how to make a pull request.

[2016-06-24 14:02] sebastiandev commented on #4
ah no problem, i'll make those changes and let you know!
thanks!

[2016-07-04 02:10] Blacklands commented on #4
Hey,
Just wanted to ask, has this been fixed in the "master" branch yet? I see there's a pull request apparently dealing with it; has that been merged in?
If not, I could try to make all those changes and do a pull request myself, if you want (never did this before though).
Would be happy about a reply, since I'm looking forward to using this library soon! :)

[2016-07-04 23:25] fbergmann commented on #4
I already have a pull request pending that includes the binary streams ... so i don't think another pull
request is needed at this point.

cheers
frank

[2016-07-04 23:58] Blacklands commented on #4
I saw that one, I just wasn't sure if it was really related to the problem, and if it was already merged in or not (still new to GitHub, to my defense).
Thanks for letting me know this, though! I hope it'll get merged in sometime soon.

[2016-07-06 02:05] sebastiandev commented on #4
merged! sorry i didn't notice the pr before. enjoy :)

[2016-07-06 02:05] #4 closed

[2016-09-13 14:07] usagi opened #7 "Compile error: zipper/defs.h:35:24: fatal error: filesystem: No such file or directory"
[code]

Why `#include <filesystem>`? It's the C++1z std library but the README in the zipper wrote `"using the latest C++11"`. Don't you wrote the wrong the C++ standard specification level in the README? I cannot compile the zipper using cmake with default `-std=c++11` option.

-----

Environment: msys2 + mingw-w64 / g++-6.1.0 / cmake-3.6.1 / ninja-1.7.1
Rev: 7d795d7 ( the latest current master )

[2016-09-13 18:29] fbergmann commented on #7
Unfortunately the stl filesystem API is not yet supported by the STL of clang or g++. That is why I added additional filesystem choices, going with either boost or qt core.

[2016-09-21 09:28] alexbala opened #9 "Wrong dates of archived files"
Hi Sebastian,

The information about the files that are added to an archive are not preserved. For example I create an archive, then decompress a file. The decompressed file has a date, let's say: 12/14/1657.

I compared the 'add' function from zipper.cpp with the 'main' function from minizip.
The difference is that the 'add' function doesn't contain

`/* Get information about the file on disk so

[2016-09-26 16:49] sebastiandev commented on #7
@usagi were you able to make it work? can i close this?

[2016-09-26 16:54] sebastiandev commented on #9
Hey, sorry for the delay. Is this windows only?

Could you please make a pull request with your change, considering linux and windows?

Thanks!

[2016-10-07 10:25] biancazzurri opened #10 "Won't work with password"
This is because before archiving with password  CRC is computed, which causes stream's eof bit to be on. When this bit is on seekg(0) will not work

[2016-10-12 14:16] sebastiandev commented on #10
I have merged the pull request. Thanks!

[2016-10-12 14:16] #10 closed

[2016-10-12 14:25] sebastiandev commented on #7
This can be solved by using boost or qt filesystem classes. In a future PR we might include @fbergmann changes to make it old c++ compatible.

[2016-10-12 14:25] #7 closed

[2016-11-14 10:06] chico-depressive opened #12 "passwords"
nice lib, have plans to add password anytime soon?

[2017-04-03 15:30] Dazzid opened #13 "Compile it on mac"
Hi Sebastiandev
I am searching for a c++ zip generator and zipper seems to be the solution.
It is posible to compile it with mac?
Thanks for the help
David

[2017-04-28 12:09] alaxmo13 opened #14 "compiling"
Some functions have been deprecated and they need to be replaced. I tried by my own but I had some problems with VS2017 and I couldn't reach it. Could you update the project with the new functions please?

Thank you!

[2017-05-04 14:27] sebastiandev commented on #13
@Dazzid sorry for the delay, i think @fbergmann has been using this quite a lot and in many platforms. Were you able to get it running on mac?

We might need to merge @fbergmann pull request in order to make it fully compatible with mac, if thats the case then i'll merge it. But ill wait on his answer to be sure.

[2017-05-04 14:29] sebastiandev commented on #14
@alaxmo13 sorry for the delay, I'm not really up to date with the latest c++ stuff, @fbergmann  has been doing a lot more work with it that I. Could you specify those deprecated functions  and the replacement for them?
Thanks

[2017-05-04 17:42] fbergmann commented on #13
Hello, indeed the project with all the changes I made works fine on windows, linux and osx. However it no longer uses the nice C++ 11 features (which i had to drop in order to be able to run on older linux versions). If you like I can make a new pull request ... if you like ...

again thanks a lot for the great project it helped a lot.

Frank

[2017-05-04 17:44] fbergmann commented on #14
I am using https://github.com/fbergmann/zipper just fine with VS2017 as well. If you like i can create a new pull request.

[2017-05-04 18:05] sebastiandev commented on #14
@fbergmann  yeah lets do that, and I'll merge as soon as it shows up. Thanks!

[2017-05-04 18:08] #9 closed

[2017-05-04 20:35] alaxmo13 commented on #14
@sebastiandev @fbergmann thank you guys!

[2017-05-04 20:35] #14 closed

[2017-05-05 15:10] sebastiandev commented on #13
@Dazzid  @fbergmann I have just merged the last pull request, and updated docs as well.
@Dazzid please let me know if this works for you, and if it does then I'll close this issue.

Thanks!

[2017-05-22 17:48] sebastiandev commented on #13
@Dazzid can I close this?

[2017-05-23 10:36] Dazzid commented on #13
@sebastiandev @fbergmann Sorry for the delay! and thanx a lot for the help, it is working!
Best

[2017-06-01 19:45] #13 closed

[2017-06-05 07:50] oranja opened #16 "Memory leaks in Zipper & Unzipper"
Hi,

First of all, thanks for this library.
I need some pretty straightforward zip file manipulation (take an existing zip, add a file from memory stream, close), and this helps me do it with 3 simple and straightforward code lines that read exactly that story (ctor/open, add, close).

While testing for any memory leaks in my program (with `valgrind`), I found out that I have some small memory lea

[2017-06-05 13:53] sebastiandev commented on #16
@oranja thanks for fixing this, i'm glad that you've found zipper helpful.

I do have some objections here. The initialization fixes look good, but i personally don't like having pointers around, and that was the main reason for methods to extract references instead of receiving pointers. So, I would prefer to keep it that way.

Regarding the other changes on the code, some related to types and da

[2017-06-05 15:07] oranja commented on #16
I personally don't like working with raw pointers either,
but I don't like forcing the compiler's hand into accepting code that shouldn't pass even more.

The way I see it, by taking a reference to an external object we're taking a risk, and the least sensible thing to do would be to hide this risk. References always seem safer, but here I don't think it's the case.
Maybe it would work if the libr

[2017-06-06 10:45] oranja opened #17 "Windows build fails a test"
Hi,
Until now I was using Zipper on GNU/Linux and it worked well, but now I tried to build Zipper on a Windows 10 machine for the first time, and it seems to work, except for this one  failing test:

[code]

With a little help from debug prints, I can say that the exception is thrown from this call:
[**test/file_zip_test.cpp** : 124](https://github.com/sebastiandev/zipper/blob/master/test/file_zip

[2017-07-24 10:52] filonik commented on #17
My pull request (https://github.com/sebastiandev/zipper/pull/18) should fix that.

[2017-07-24 14:34] sebastiandev commented on #17
This should be fixed as per @filonik PR. Thanks!

[2017-08-04 07:19] tgy opened #19 "CRC-32 error when opening zip file with Python's zipfile module"
I've been using `zipper` in some C++ code to create zip files and add files in it.
Later, I use Python's `zipfile` library to open those zip files but I get the following exception:
[code]
I haven't done anything peculiar and followed `zipper`s documentation.

Also, when doing `unzip myarchive.zip` it unzips properly without any error.

Do you guys have any idea why this might be happening?

[2017-08-04 07:32] tgy commented on #19
I figured the zipfile was corrupted. Not `zipper`'s fault!

[2017-08-04 07:32] #19 closed

[2017-08-18 11:49] artellblender opened #20 "Compiling on Windows"
Sorry if this is a really noobie question but i'm stuck at the compiling step on Windows.
"cmake ..\" gives the following error:

`CMake Error at CMakeLists.txt:167 (message):
  The include directory specified for zlib does not appear to be

  valid.  It should contain the file zlib.h, but it does not.  Please

  verify the LIBZ_INCLUDE_DIR variable.`

I tried to set a new environment variable ZLI

[2017-08-18 12:08] sebastiandev commented on #20
Have you set LIBZ_INCLUDE_DIR to point to the path where zlib.h is located?

[2017-08-18 17:24] artellblender commented on #20
Thanks for your reply Sebastian!
I've finally found a way by changing the paths to the zlib dir and dll in the "CMakeCache.txt" generated after the error... But I don't know if it's the good way.
The files are now generated without errors.
But the last step "make" does not work :-( It says there is not target/make file... Any advice?

[2017-08-18 17:34] artellblender commented on #20
(it's make from cygwin64)

[2017-08-18 20:40] artellblender commented on #20
After further investigations
:
-Using CMake GUI definitely helped solving the zlib path issues

-Compiling with MinGW leads to an error with <filesystem> in defs.h :
fatal error: filesystem: No such file or directory
#include <filesystem>

-Compiling with MVS 2017 leads unfortunately to other errors:
c:\zlib\zconf.h(477): fatal error C1083: cannot open include file : 'unistd.h' : No such file or d

[2017-08-30 02:06] devnoname120 opened #21 "`add(path/to/folder/)` results in folder name to be incorrectly set to `/`"
Test case:
[code]

Result: `ziptest.zip` --> `/` --> some files
Expected: `ziptest.zip` --> `somefolder` --> some files

---------------------

The culprit is this line: https://github.com/sebastiandev/zipper/blob/787b97db8875c1c31789a8b82d96ed0191f6a0f7/zipper/CDirEntry.cpp#L97
Proposed fix: Trailing `/` should be ignored.

[2017-08-30 15:15] #17 closed

[2017-08-30 15:18] sebastiandev commented on #21
@devnoname120 have you tried that fixed? if it worked and every test is passing, would you submit a pull request?

Thanks!

[2017-08-31 12:18] devnoname120 commented on #21
I will try to make a pull request when I get the chance to.

[2017-09-06 11:30] 0ctothorp commented on #20
I have the same issue comiling on windows with MinGW32.

[2017-09-06 11:50] sebastiandev commented on #20
I don't have a windows box so I cant really test it right now. @fbergmann any ideas here?

[2017-09-07 15:29] fbergmann commented on #20
I have not tested with MingW32, which currently does not yet seem to support the filesystem api. Compilation will succeed with visual studio (which can be downloaded free of charge).

[2017-09-07 17:18] 0ctothorp commented on #20
@fbergmann Yeah, I already figured that out. Compiling with Visual Studio works :) BTW is the <filesystem> a header for c++17 experimental filesystem api or is it something windows specific?

[2017-09-07 20:17] fbergmann commented on #20
the filesystem api is not windows specific, but there is hardly any support in the std c++ libraries for it otherwise. That is why on other system i was using a class we wrote for out other project (COPASI). So all that will need to be done is to somehow detect mingw and then disable that include and default to the other one.

[2017-09-08 18:16] Lecrapouille commented on #20
Hi, I'm also a noob with MinGW (I don't have Window) so I'm trying to compile zipper (in blind) with [appveyor](https://ci.appveyor.com), and I have the following error:
[code]
Note: I installed zlib and libzip with pacman but I do not know how to set ZLIBROOT as requested in the README:

Any help is welcomed :)

[2017-09-08 18:59] fbergmann commented on #20
In this case you specifically pass along the -DLIBZ_LIBRARY= < path to libz library to link against > cheers frank

[2017-09-08 21:59] Lecrapouille commented on #20
Hi @fbergmann ! Thx for your fast answer but I think it will be more difficult than just added -DLIBZ_LIBRARY.

In my case zlib.h seems to be located in `/mingw64/include/zlib.h` and `/mingw32/include/zlib.h` and therefore matching the CMakeLists.txt code line 124 `$ENV{ZLIBROOT}/include`.

So, at beginning, I tried to do that:
[code]

Unfortunately failed because I do not have zdll.lib or zlib.li

[2017-09-10 08:59] oranja commented on #20
Seems like you would need to edit the **CMakeLists.txt** file, such that it either:
* takes a user-defined value for `LIBZ_LIBRARY`, in your case pointing straight to `/mingw64/lib/libz.a` (`if (NOT LIBZ_LIBRARY)`, followed by another `endif()` after the current one in @L128)
* or also accepts `zlib.a` in `NAMES` for LIBZ_LIBRARY (@L108)

Disclaimer: I did not test this solution. It's an educated

[2017-09-21 07:39] vityafx opened #22 "Add ability to link to static zlib instead of shared one (linux)."
Now it links only to dynamic library on linux but I would prefer static one.

Now when I try to use libzipper I have the following errors:

[code]

There is completely no way to override or specify zipper's CMakeLists.txt to link to static version of `zlib`.

[2017-09-21 08:40] fbergmann commented on #22
Actually there is, you can manually define `LIBZ_LIBRARY` by passing in the full path to the library to be used. If you specify that cmake option, it will not be overwritten.

[2017-09-21 10:51] vityafx commented on #22
I bring my apologizes. Yes, there is a way of overriding LIBZ_LIBRARY and LIBZ_INCLUDE_DIR variables but no matter what I do I get the same result:

[code]

However, the library it is linked to:

[code]

[code]

@fbergmann Could you comment this please?

[2017-09-21 11:15] fbergmann commented on #22
I think that is actually how it is supposed to work. Once you use the libZipper-static library, you will additionally have to link against your libz.a, and everything will work.

[2017-09-21 12:07] vityafx commented on #22
@fbergmann oh, you are right it seems, I have totally forgot how linking static libraries works.. Thank you.

[2017-09-21 12:07] #22 closed

[2017-09-23 00:46] devnoname120 commented on #21
I think it's a bad idea to handle paths as `std::string` with a few helper functions. It leads to some unforeseen issues such as this one.

I suggest that we switch to C++17's [`std::filesystem::path`](http://en.cppreference.com/w/cpp/filesystem/path) with an optional fallback to [`boost::filesystem`](http://www.boost.org/doc/libs/1_65_1/libs/filesystem/doc/index.htm).

[2017-09-23 08:22] fbergmann commented on #21
And with that we come full circle :) ... @sebastiandev originally was using of course C++17, which made the library available pretty much only on windows. I've tried with several fall back systems (using boost or Qt). But ultimately to have it working on most systems (and yes, even older linux kernel versions), for us it was necessary to revert to the solution with helper functions.

[2017-09-23 18:48] Lecrapouille commented on #20
@oranja, thanks you ! I had not time checking your suggestion yet. I postponed window CI for the moment.

[2017-09-24 13:00] Lecrapouille commented on #16
@oranja, @sebastiandev

I'm following this thread because I also confirm memory leaks and found interesting the talk about "references vs pointers as members":

* If the modification about "references members" is independent to the "memory leaks fix", better to suggest it in a different commit and PR.

* I'm agree with oranja, references to external class are also dangerous than pointers. See http

[2017-09-24 14:33] sebastiandev commented on #12
ups, sorry for such delay, i was 100% sure I'd replied to this. I dont really have enough time right now to add new logic here, I do appreciate any contribution. Also, there's some stuff going on so there's probably going to be changes here and if that's the case someone might find time to add this feature.
But, ill keep this open and update when necessary.

[2017-09-24 14:45] sebastiandev commented on #16
@oranja @Lecrapouille Guys, first of all, thanks for taking the time to contribute and improve the library.
I've departed from c++ daily coding so I'm a bit outdated. I've seen some questions about the library, and some other requests like the ones you are making and got me thinking. @fbergmann made awesome contributions to make zipper run in many platforms, but that comes with some limitations.
S

[2017-09-24 19:17] Lecrapouille commented on #16
@sebastiandev

I'm not expert in c++17 but not all compilers are c++17 ready, so you'll limit yourself to some compiler / architecture. Look: http://en.cppreference.com/w/cpp/compiler_support

Yes !! In addition we are drifting to another subject than memory leaks.

[2017-09-24 19:49] oranja commented on #16
My main argument against having a fork at this point is that I don't think we have enough coding force here to maintain two forks. Besides, IMHO, the current code base is not far enough from good shape that it justifies starting from scratch over fixing a few issues.

Now, it's a real mystery how C++ leads the industry all these years without even the most basic path manipulation utility, but I th

[2017-09-24 20:31] sebastiandev opened #24 "Fork to use latest C++"
Continuing discussion from #16 in order to decide effort to fix leaks and interface improvements

Yeah I rushed a little with C++17, but the main point was making a fork that would let us have a project that only deals with latest standard without having to worry with old compiler and odd platforms compatibility. Many of the issues we are seeing here are mostly because we decided not to use boost/

[2017-09-24 20:35] sebastiandev commented on #16
Although i haven't seen the thumbs up 😃 , I've created  #24  to continue the discussion

[2017-09-25 18:28] Lecrapouille commented on #16
I can take a moment for solving memory links based on Oranja's work. I made a quick look at both code and now I understand better why oranja wanted use pointers. In current zipper code, in constructors there is a mixture between references to external objects and references to allocated internal members, making impossible to call delete (without additional informations). Look:
[code]

versus:
[cod

[2017-09-25 18:50] Lecrapouille commented on #24
https://github.com/ctabin/libzippp can inspire you for your API, seems to me that your API can complete it.

I'm not fond of qt/boost and lib dependencies. But there is a lighter lib you can use: POCO https://pocoproject.org/documentation/index.html they have a Path class: https://pocoproject.org/slides/080-Files.pdf

I don't think so, just missing delete in destructor for the moment.

[2017-09-25 21:27] Lecrapouille commented on #16
I may found a fix. I will create a PR.

[2017-09-25 23:22] Lecrapouille opened #26 "Add more compilation flag"
Currently your cmake does not produce lot of compilation flags. Could be nice to add -O2 -W -Wall.

And why not an option for address sanitizer (do not call with valgrind) ?
CXXFLAGS += -O1 -g -fsanitize=address -fno-omit-frame-pointer -fno-optimize-sibling-calls
LDFLAGS += -fsanitize=address -fno-omit-frame-pointer -fno-optimize-sibling-calls
LIBS += -static-libstdc++ -static-libasan
ASAN_OPTIONS

[2017-09-26 07:58] fbergmann commented on #26
since the option exists that users can pass in these flag (or whatever other flags they want), I do not see a need to have that happen always / or automatically. This can be done by specifying the fags like: CMAKE_CXX_FLAGS, CMAKE_EXE_LINKER_FLAGS or CMAKE_CXX_FLAGS.

[2017-09-26 18:21] Lecrapouille commented on #26
ok, so:
[code]
That works thanks :) You should really compiled with all compilation warnings: that gives lot of good informations: missing initializers, test with < 0 always false, wrong order in member init.

[2017-09-26 18:32] oranja commented on #26
:+1: for `-Wall -O2` and even `-Wextra` (formerly known as `-W`) as sane defaults for release builds.
It's also easy in Windows/MSVC: `/Wall /O2`

[2017-09-26 19:36] Lecrapouille commented on #26
I fixed compilation warnings on https://github.com/Lecrapouille/zipper/commit/197753647e95905e09d29c679f580c9ddb6de28a

[2017-10-05 08:42] AlexSolaris opened #27 "Zip created by zipper can not be extracted using Windows or Win zip"
Hi i used code from tutorial like:
Zipper zipper("ziptest.zip");

	std::stringstream mSt;
	mSt << "TEST";
	zipper.add(mSt,"stuff.txt");
	zipper.close();

and the zip file is created on hdd.
Step 2: i try to extract file from zip just created using Winzip or Windows and it fails.. i mean you can see
the content of the zip but when try to extract it fails.
The only one which can extract the file fro

[2017-10-09 23:31] Lecrapouille commented on #27
I'm probably wrong but the add() method takes an ifstream not a stringstream (see unit tests as example)

[2017-10-10 08:45] oranja commented on #27
@Lecrapouille: It takes any `istream`.

@AlexSolaris:
I was already working on my Win10 VM, so I gave it a shot.
I had the following code (in `main.cpp`):
[code]
Compiled with:
[code]
Then running `main.exe` creates a `ziptest.zip` file, which opened fine both with 7Zip and Windows 10's Explorer.

** Disclaimer: This test might be worthless because in my copy of Zipper the code is a little outdate

[2017-12-22 10:47] tgy opened #28 "Error, couln't get the current entry info"
I have a C++ program that does computations on several hundreds of data files. Once a computation on one data file is over, I use **zipper** to save the results inside of a zip file. I create a new file in the zip for every processed data file.

To speed up the computations, I use OpenMP for parallelism. But of course, I put the part of the code that opens and closes the zip file to add new result

[2018-03-17 07:24] ghorwin opened #29 "Encoding support"
Hi,

I have a problem with zip files where filenames/folder names contain "umlaute" and the zip was created in Windows using local latin9 encoding.

When unzipping on Linux utf8 encoding is expected, causing mangled filenames.

How could zip-filename-encoding be supported best in zipper?

[2018-03-24 14:41] zraymene opened #30 "Windows 8.1 Visuel Studio 2015 Error:"LNK2019: unresolved external symbol"."
Hi,
It is noobish question , I faced a big problem on my project while using your library , I got error of unresolved external symbol :

[code]

  I build zlib and zipper for x64 platform windows of course without any error on the process but i try to build up my project can not the error.

I added on my project settings :
   • "libZipper-static.lib" On Additional Dependencies
   • "E:\Project\Rea

[2018-03-24 16:10] zraymene commented on #30
Well , i fix it by adding "zlibd.lib" to the project ! :+1:

[2018-04-01 08:30] RazrFalcon opened #31 "Build failed on Linux"
[code]

**UPD:** Looks like it's the Gentoo bug: https://bugs.gentoo.org/383179

[2018-04-12 10:52] nicvac opened #32 "Writing wrong file name on Linux"
Hi,
thank you for your lib. Very useful!
Issue:
unzipper.extractEntry( "file1.txt", "/tmp" );

Writes a file called /tmp\file1.txt
instead of writing file1.txt in path /tmp

Hi think the problem is here:
./unzipper.cpp:      std::string outputFile = destination.empty() ? name : destination + "\\" + name;

[2018-06-05 17:30] oranja opened #33 "Zipper might be vulnerable to Zip Slip"
The details of the vulnerability are detailed in this post: https://snyk.io/research/zip-slip-vulnerability
To summarize, Zip files can be crafted to contain entries with paths such as `../../../../../tmp/evil.sh`, which point to outside of the extraction folder and might be used to overwrite important executables or config files.
Therefore, it's crucial to check on file extraction that the path d

[2018-06-21 12:48] snahmad opened #34 "unzipper does not extract folder and files more than one level."

[2018-09-15 22:17] lukeeey opened #35 "Error when unzipping"
Fixed the segfault, but now i get another error
[code]

[2018-11-20 06:16] ozelcan commented on #34
So i think a have a simillar issue. I have a directory in a zip file, after i decompress it i got files just like named "foldername1\innerfolder1\file.txt". I was expecting a decompressed folder structure not just files. Is there a way to decompress as folder sutructure?
![capture](https://user-images.githubusercontent.com/36914521/48754984-cba24080-eca4-11e8-8e06-1b6b4c910df4.PNG)

[2018-12-13 00:46] pauleibye opened #36 "Windows won't zip directories"
Had an issue zipping folders from windows. Found that the GetFileAttributes call in opendir in dirent.c will cast a std::string to a stringw which doesnt ever find the file as std::string is ascii and a stringw is unicode. Changing the code to always call the ascii macro fixed the issue:
[code]
I would ask to do a pull request or something, but it looks like the last one that's open is from a year

[2019-03-20 14:44] kriegalex opened #39 "Latest release is too old now"
Would be nice to get a v0.9.1-beta tag with current state of code to create a modern release, unless some major bug is affecting the current code. The last one is dated from 2015 !

[2019-03-20 19:07] sebastiandev commented on #39
done!

[2019-03-20 19:07] #39 closed

[2019-04-11 19:43] #16 closed

[2019-04-11 19:47] Lecrapouille commented on #30
For Linux users add `-lz`to your linker flags (LDFLAGS).

[2019-04-11 19:47] #30 closed

[2019-04-11 19:51] Lecrapouille commented on #35
When you said `Fixed the segfault` what exactly fixed your segfault ? Is this related to another closed issue ?

[2019-04-11 19:54] Lecrapouille commented on #34
Can you give me a short example code ?

[2019-04-11 21:15] Lecrapouille commented on #32
Is the patch made on the develop branch fixes your case (until adding unit/non regression tests) ?

[2019-04-11 21:15] Lecrapouille commented on #36
Is the patch made on the develop branch fixes your case (until adding unit/non regression tests) ?

[2019-04-11 21:20] Lecrapouille commented on #31
Minizip has been updated in this commit https://github.com/sebastiandev/zipper/commit/481b770908533d9c92114a6e27d80fc8adbd4173 has this helped you ?

[2019-04-11 21:26] pauleibye commented on #36
@Lecrapouille I'd guess so, that's the fix that I did for my project and it worked.

[2019-04-11 22:47] lukeeey commented on #35
I really cant remember

[2019-04-11 23:40] Lecrapouille commented on #35
So I close this ticket ? Feel free to open it again once you remember the test case producing this error.

[2019-04-11 23:40] #35 closed

[2019-04-11 23:51] #36 closed

[2019-04-11 23:51] Lecrapouille opened #40 "Add more unit-tests / non-regression tests"
concerning:
#36
#32
#34
#21

[2019-04-11 23:57] lukeeey commented on #35
Yeah its fine to close, but just incase you didnt know once the repository owner has closed an issue the person who originally created it cant open it again.

[2019-04-12 00:36] Lecrapouille commented on #35
I did not know ! But you can still post a comment the owner will open it back.

[2019-05-15 19:00] mez opened #42 "This breaks if I include this lib as a sub directory"
https://github.com/sebastiandev/zipper/blob/01b3566b36ae2a22573172a18f24f9c259e902b2/CMakeLists.txt#L388

replacing it with `CMAKE_CURRENT_LIST_DIR` fixes this issue.

[2019-05-15 20:21] Lecrapouille commented on #42
May you create a PR ? @uberferg is this fix ok for you ? I do not know CMake.

[2019-05-16 00:21] mez commented on #42
Yes I can create a PR

[2019-05-16 12:40] #42 closed

[2019-06-10 19:46] Nelson-numerical-software opened #44 "is zipper always actively developped ?"
minizip seems not to be up to date and unicode encoding seems not to be managed on windows (path + password)

Are you planning to fix these issues soon?

[2019-06-10 20:19] sebastiandev commented on #44
@Nelson-numerical-software there was a prolonged hiatus, but some of the guys that were using it on a daily basis offered to keep working on it, so right now it's been actively maintained.
we'll see if we can update, its probably just a matter of updating the references.

@Lecrapouille do you think is worth doing that, or maybe just remove the minizip submodule and let the users just use whatever

[2019-06-11 19:59] Lecrapouille commented on #44
I quickly look at last minizip repo, their files totally changed. For example, zip.h is now mz_zip.h, unzip.h does not exist :(

[2019-06-11 20:25] sebastiandev commented on #44
hmm I guess it will have to be updated, but that would break older clients forcing them to update minizip, since they removed/renamed their header files...

Not sure what's the best approach here, dynamic linking would solve it and prevent future issues like this one, but still break older users too.

[2019-07-19 15:25] patrickn opened #45 "Setting password does not work"
The readme states that passwords are supported and there is a parameter provided on the API for a password, but zipping a file with a password set does not encrypt the zip file. Is password use supported?

[2019-08-11 11:13] MangaD opened #46 "WIN32 should be _WIN32"
I see in many files a check for the macro `WIN32` when it should be `_WIN32`.

[2019-08-11 23:33] #46 closed

[2019-08-21 09:31] zomboir opened #48 "CMake flags for Windows builds"
When building shared libraries on Windows the lib file is not generated because there are no symbols are exported. On Windows the .lib is necessary for linking, while runtime the .dll is used.

This can be fixed by adding
`set(CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS ON)`
to the CMakeLists.txt.

I would also suggest to require C++11 and add a debug postfix to distinguish between the debug/release binaries

[2019-09-04 07:29] AlvinZhangH opened #50 "Download folder minizip is empty"
There are files in folder minizip @ e3a8cb7 in https://github.com/sebastiandev/zipper, but download folder minizip is empty.

[2019-09-04 18:45] Lecrapouille commented on #50
@AlvinZhangH did you made
[code]

for cloning? Note: github makes empty submodules when you click on "download zip" button

[2019-09-04 18:48] Lecrapouille commented on #45
@patrickn is the last version of zipper fixed your problem?

[2019-09-04 19:05] Lecrapouille commented on #28
@tgy sorry for this long delay. Are you using one instance of Zipper for each file or are you using the same instance of zipper for all of your files and lock one file at a time for zipping it? I'm not sure internal states of Zipper classes are thread-safe neither if they are not correctly restored after each usage. In addition, I'm not sure that your critical section will help you earning time be

[2019-09-04 19:14] Lecrapouille commented on #12
Reference: https://github.com/sebastiandev/zipper/issues/45

[2019-09-04 19:14] #12 closed

[2019-09-04 19:15] #48 closed

[2019-09-06 16:26] #50 closed

[2019-09-08 12:04] #45 closed

[2019-09-16 08:36] tgy commented on #28
Thanks for you reply. This was a long time ago and I somehow fixed it in the mean time. Probably you can close this issue.

[2019-09-16 21:41] #28 closed

[2019-10-17 16:31] deeringc commented on #29
@ghorwin, I've run into the same issue and the situation is that this library doesnt handle unicode at all on Windows. Windows APIs dont support UTF8.

All of the underlying Win32 calls are to the ____A variants of the system APIs (eg. CreateFileA) ratherthan the ____W variants. This means that you're passing utf8 encoded strings into APIs that are expecting ASCII.

As a work around, you can use t

[2020-01-24 09:57] KevLoq opened #53 "unzipper.extractEntry works but returns false... Why ???"
Dear you,
here is my code
[code]
it works, the file are properly unzipped and located at the right location. But extractEntry returns false for every extracted file.
I do not like it as it could hide some problem or defect in the extracted file ... I do not know exactly why but I do not like it.

[2020-01-24 18:29] Lecrapouille commented on #53
Ok I'll look at it. Which archi do you use ? Windows ? Linux ?

[2020-01-24 19:33] #53 closed

[2020-01-24 19:39] Lecrapouille commented on #53
@KevLoq I pushed a fix. This made automatically close the ticket. Tell me if that fixed you the problem else reopen it.

I have to seriously write unit tests.

By the way @sebastiandev @fbergmann Sorry I'm nut in English, but it looks like your methods `extractEntryToStream, extractEntryToMemory` shall be named `extractEntryFromStream, extractEntryFromMemory` ?

[2020-01-24 19:44] Lecrapouille opened #54 "Looking for help concerning the Continuous Integration for Window (AppVeyor)"
Following https://github.com/sebastiandev/zipper/issues/20#issuecomment-328177175
I do not have Windows and as a consequence, my Continuous Integration script for Windows (AppVeyor) is not working. I'm looking for someone who knows to fix it.

Thanks!

[2020-01-29 08:40] KevLoq commented on #53
Thank you
I will try it on the coming days

Tu es francais ?

[2020-01-29 17:47] Lecrapouille commented on #53
@KevLoq Yes I'm Frenchman and I'm not the author of this lib I'm just helping.

[2020-05-06 07:18] samuelseu opened #56 "new exception in initWithStream (zipper.cpp/unzipper.cpp)"
the stream.tellg() may return -1, in this case, the size may be 0xffffffff after converting to a unsigned int (size_t). Then the code would try to allocate a large number of memory, the size of new memory is 0xffffffff. It would cause new exception.

there's no need to convert the size into size_t, as there's judgement below.

[code]

[2020-07-07 18:04] OliverHaag opened #57 "CMakeLists.txt should set minimum required CMake version to 3.0"
The old cmake_minimum_required(VERSION 2.6) is causing zipperTargets-*.cmake to contain absolute paths, making it unusable on machines other than the one the package was built on.

Additionally zipper could use the newer namespacing-style. I've patched that into zipperConfig.cmake.in, but it could probably be done in a nicer way:
[changes.txt](https://github.com/sebastiandev/zipper/files/4886411/c

[2020-07-07 19:05] Lecrapouille commented on #56
Sorry I did not see the notification of your issue. I had already had to deal with this kind of boring casting. Ok I'll fix that.

[2020-07-07 19:07] Lecrapouille commented on #57
Thanks I have to seriously learn CMake

[2020-07-07 20:23] Lecrapouille commented on #57
Merged ! Please check if everything is alright !

[2020-07-07 20:23] #57 closed

[2020-07-07 20:24] Lecrapouille commented on #56
Fixed ! Please check if everything is alright !

[2020-07-07 20:24] #56 closed

[2020-07-07 20:24] #44 closed

[2020-07-07 20:25] #32 closed

[2020-07-10 06:27] Tabstone opened #58 "Add the file to the zip and overwrite the original file, but now a new file of filename_1 will be created"
what should I do

[2020-07-10 23:10] Lecrapouille commented on #58
Hi ! I'm not the original author I'm just helping fixing bugs. I think use `enum zipFlags { Overwrite = 0x01, Append = 0x02, Store = 0x04, Faster = 0x08, Better = 0x10, NoPaths = 0x20, SaveHierarchy = 0x40 };`
in:
[code]

This should be better documented I agree

[2020-07-11 00:54] Tabstone commented on #58
What I want to overwrite is the file inside the zip, this enum cannot solve the problem

[2020-07-11 09:14] Lecrapouille commented on #58
Hi ! It should not! If possible, can you give me your basic example for deeper investigation? Thanks

[2020-07-11 09:54] Tabstone commented on #58
I want to modify a file in the zip, I first extract an entry from the zip and then modify and add it to the previous zip, what should I do

[2020-07-13 04:13] Mylifeismyhome commented on #58
yeah adding another entry with the same name/path as an already added entry will not overwrite the entry, instead, it adds another one with the same name/path, also if u will fix this could add a method to delete entries, please?

[2020-07-13 09:56] sarahkittyy opened #59 "Use AES as default."
ZipCrypto is an outdated and insecure encryption method, which the password protected zipping uses. Consider defining `HAVE_AES` when compiling minizip to use AES encryption instead.

For now, in your root CMakeLists.txt, you can use

[code]
to circumvent this :)

[2020-07-13 16:31] Lecrapouille commented on #58
I'll investigate. The problem is that this API is based on an out of date Minizip version which has evolved so much that I cannot easily update it.

[2020-07-13 17:46] Lecrapouille commented on #58
@Mylifeismyhome I read in minizip.h: `There is no delete function into a zipfile. If you want delete file into a zipfile, you must open a zipfile, and create another. Of course, you can use RAW reading and writing to copy the file you did not want delete.` As a consequence I guess updating a file is not possible. We may have a routine to hide this.

After looking in the code, I see that `zipFlags`

[2020-07-13 17:51] Lecrapouille commented on #59
Hi ! Thanks ! Can you provide a pull request ?

[2020-08-09 19:33] Mimickal opened #60 "No std::exception constructor that takes const char* on i686-w64-mingw32"
I am getting the following build error
[code]
It seems Zipper has a switch in `defs.h` that switches which exception class is used based on implementation:
[code]
In my environment, it is selecting `std::exception`. The problem is, [`std::exception` does not appear to have a constructor that supports passing `const char*`](https://en.cppreference.com/w/cpp/error/exception/exception). `std::runtime

[2020-08-11 16:09] kriegalex opened #61 "Add MD5 with release to check downloaded file"
A nice to have thing when the library is installed in an automated script.

[2020-08-11 16:15] kriegalex commented on #61
MD5SUM 1.0.1
[code]
MD5SUM 1.0.0
[code]

[2020-08-11 16:28] kriegalex opened #62 "Zipper release files don't contain minizip code"
Simply extracting a downloaded .tar.gz file doesn't allow to build zipper, without having to clone minizip.

Since minizip is not versioned, it is hard to do it properly via release files.

Two things can happen to improve this:
1) Either zipper contains minizip in the release file
2) Or a versioned zipper commit (like 1.0.1) points to a specific release of minizip (like 1.0.0). Then one can downl

[2020-08-11 16:29] kriegalex commented on #62
For one, one must `clone --recursive` and switch to the desired tag (i.e. 1.0.1)

[2020-08-17 12:38] Lecrapouille commented on #62
Hi! Thanks this is not the first opened issue concerning this point. This is more an issue of GitHub which makes releases without including submodule. Same idea when downloading the zip of the master instead of git cloning --recursive

[2020-08-17 12:39] Lecrapouille commented on #62
https://github.com/sebastiandev/zipper/issues/50

[2020-08-17 12:40] Lecrapouille commented on #60
Thanks I'll check after my hollidays. Feel free to open a pull request.

[2020-08-17 12:48] Lecrapouille commented on #61
I'm not sure to follow you. You want to have the md5 of the zip file ? or having a file inside the zip containing the md5 of the zip file ? For the 1st question, you can simply include (copy/paste) a md5.c in your project to compute md5 of your zip. For the 2nd question, if you change the file containing the md5sum of the zip including this file, the real md5sum will be different to the value stor

[2020-08-19 11:05] Togtja opened #63 "Static and Shared uses same output name in CMake"
While the static get called staticZipper and shared Zipper internally. However, when the are to output the library files the staticZipper gets [renamed](https://github.com/sebastiandev/zipper/blob/master/CMakeLists.txt#L357) to Zipper.
This causes a `ninja: error: build.ninja:5910: multiple rules generate Binaries/Lib/Zipper.lib [-w dupbuild=err]`  Ninja Generator/CMake error when trying to build

[2020-08-21 07:02] kriegalex commented on #61
Hello,
Please have a look at this release example from ITK to see what I mean (MD5SUMS file) : https://github.com/InsightSoftwareConsortium/ITK/releases/tag/v5.1.0

This is by now a common practice, very useful in automated install scripts. hard-coding things in the script is not that good.

When you download a release file, it is nice when the MD5 is available with the release, on a public URL.

[2020-08-21 07:10] kriegalex commented on #62
Maybe you can at least version minizip then (see my option 2), and have coherent versioning between both project, so we can download the correct releases of each and stitch them together. It will also improve your workflow of managing them both :)

[2020-08-25 09:24] Togtja opened #69 "Zlib as a submodule"
After #68 got integrated, this opens up for getting zlib as a submodule, I do not know if this is wanted, would make it easier to build on Windows where zlib is not standard?
I made a personal branch where I added zlib to Zipper [found here](https://github.com/Togtja/zipper/tree/submodule_zlib)

I did a very [minor change](https://github.com/Togtja/zlib/commit/9a5eeeb6204f93f75f81bdb2413be0a550050

[2020-08-27 20:12] Lecrapouille commented on #69
I like the idea this also may help me to close this https://github.com/sebastiandev/zipper/issues/54

[2020-08-29 10:44] Lecrapouille commented on #69
@Togtja In the "develop" branch I updated appveyor to fix broken keys https://github.com/sebastiandev/zipper/commit/9c8caeb9f0ff6194eaac893b047eb48117369db5 but still stuck with:
[code]

It looks like you have fixed that before this ticket. I would like to know what missing pacman I have to add or if zlib should be compiled manually.

[2020-08-29 10:57] Lecrapouille commented on #69
PS: @Togtja I meant for Windows MSYS2 (since Linux and MacOS X they work perfectly)

[2020-08-31 07:16] Togtja commented on #69
#68 Should not change the behaviour on any platform, as it just uses the internal CMake script to find Zlib. I find it really wierd that it is looking for `LIBZ_LIBRARY` that should have be removed on #68 pull request

[2020-08-31 07:17] Togtja commented on #69
I am currently working on making zlib a module it works on Windows and Linux for static, but shared libary I encounter an error. So will work a bit on it today

[2020-08-31 19:03] Lecrapouille commented on #69
#68 Should not change the behaviour on any platform, as it just uses the internal CMake script to find Zlib. I find it really wierd that it is looking for LIBZ_LIBRARYthat should have be removed on #68 pull request

mmmh ! that makes me remind that we've committed on the develop branch but initially the appveyor was configured to build the master branch. I changed it with my last change on the dev

[2020-08-31 19:21] Lecrapouille commented on #69
I merged dev into master but for the appveyor (CI for Windows) I know I cannot download libz with pacman I dunno where this lib can be installed I guess to be compiled manually.

[2020-08-31 20:21] Lecrapouille commented on #60
@Mimickal I'm following with #65 but on my Debian 10 64-bits I cannot pass the step of CMake. How did you deal ? But I feel not confident since I dunno how to fix my appveyor CI for Windows.
[code]

[2020-08-31 20:43] Lecrapouille opened #70 "Valgrind error reported on Mac Os X"
[code]

And fix compilation errors:
- /Users/travis/build/sebastiandev/zipper/minizip/aes/entropy.c:44:16: warning: implicit declaration of function 'read'
- idem for 'close'
- Users/travis/build/sebastiandev/zipper/zipper/unzipper.cpp:279:17: warning: comparison of unsigned expression < 0 is always false [-Wtautological-compare]
- idem for 318

[2020-09-01 03:11] Mimickal commented on #60
I have my project set up with zipper and zlib in a `lib` subdirectory. This is the relevant portion of my CMakeLists.txt
[code]
With this setup on the updated develop branch, I am still getting a build failure with this same issue:
[code]

I can compile if I make this change to zipper/defs.h.
[code]

[2020-09-01 09:27] Togtja commented on #69
I am running Visual Studio Build Tools 2019. However, I edit code in VS Code, and I use WSL to run Ubuntu 20.04 with GCC 9 and 10. I also have an actual Ubuntu machine, but I only bother to boot it up when doing final testing, as WSL works 99% of the time as a Ubuntu machine.

Update on this:
Building static works, but I can't build shared... unless... I build static first, then I build shared.
Th

[2020-09-01 18:01] Lecrapouille commented on #69
I'm sorry I know few about CMake, I was never really interested by this complex syntax on a file which is finally as long as a hand made Makefile just for generating ... a makefile. For the few I used I realized that you cannot create shared and static library. That is why the original authors gave a different name for the static lib. This is non sense for me ! Using Gnu Makefile I have this kind

[2020-09-01 18:24] Lecrapouille commented on #60
What a mess !
- I just realized after reading https://stackoverflow.com/questions/1569726/difference-stdruntime-error-vs-stdexception the "Update: Portability Linux vs Windows" that std::exception has a constructor with no param (therefore no char*). I guess people did not notice this before because Window is not following the C++ standard!!
- And this is very user friendly to have changed of exec

[2020-09-01 18:40] Lecrapouille commented on #63
@Togtja  I did not check the link in your 1st comment. It refers on unrelated commit. In fact the change has been made here
https://github.com/sebastiandev/zipper/commit/1e95b5bd2185422b17d1f1f2f7d3f6e92b69c8bd
I dunno if that can help you.

[2020-09-05 15:41] #60 closed

[2020-09-08 08:24] kriegalex commented on #69
If zlib is shipped with libzipper as a submodule, it would be nice to add a cmake variable to allow to use a system installed library. As an example, see VTK:

`VTK_USE_SYSTEM_ZLIB`

[2020-09-08 08:26] kriegalex commented on #61
Sorry I cannot help you more on CD/CI part of it, I'm not familiar with Github CD/CI's integration possibilities

[2020-09-15 18:48] GiuseppeCesarano opened #72 "Cannot compile with mingw-w64 under msys2"
When trying to compile with mingw-w64 under msys2 the error: "The opendir() API is provided by this compiler, so should not be built here" is raised.

[2020-09-15 19:25] GiuseppeCesarano commented on #72
When i force off "USE_WINDOWS" the following errors are raised:
[code]
I'm using msys2 under github actions, I'm following this [guide](https://www.msys2.org/docs/ci/)

[2020-09-16 17:44] Lecrapouille commented on #72
@GiuseppeCesarano Are you able to pass the cmake step `Looking for gzopen in LIBZ_LIBRARY-NOTFOUND` ? I would like to fix my appveyor file but I do not know to do that ? How did you make ?

[2020-09-17 09:17] GiuseppeCesarano commented on #72
This is what my github action looks like:
[code]
I'm compiling a gtkmm3 application and it has this project as dependency. I didn't take a look to your appveyor but let me trow a wild guess, could it be the `mingw-w64-x86_64-zlib` dependency to do the trick?

[2020-09-17 09:32] GiuseppeCesarano commented on #72
I think i got why it isn't working. Your cmake is using `MSVC 19.0.24241.7` as default compiler, and _maybe_ it's also using the Visual Studio build system, you should force it to use the mingw patched compiler and also a mingw patched build system (I would suggest `mingw-w64-x86_64-ninja`)

[2020-09-17 10:35] Togtja opened #74 "Feature request: Automatic timestamp for files"
When zipping files on a system, make the timestamp of the file a part of the zipping.

Currently, unless you specify the timestamp yourself, Zipper gives an empty `std::tm`:

[code]
The file timestamp will look like this:
![image](https://user-images.githubusercontent.com/33124639/93454394-3ccfd080-f8db-11ea-9961-d86373925b09.png)

Now currently, as stated you can give a timestamp yourself, so the

[2020-09-17 10:39] Togtja opened #75 "Remove ability to accidentally create empty zip"
The `std::istream`constructors `add(std::istream& source, ...` allow us to do:
[code]
However, since `nameInZip` is not specified, the `test.zip` folder just becomes empty. I believe the `nameInZip` should **not** be optional.

[2020-09-18 00:28] Lecrapouille commented on #72
@GiuseppeCesarano  Thanks I'll check in coming days :) No biggie for gtkmm3 since I also do C++ project with GTK+ :) For zlib I have here https://github.com/sebastiandev/zipper/blob/master/.integration/appveyor-install-window.sh#L19 called by https://github.com/sebastiandev/zipper/blob/master/appveyor.yml#L32

[2020-09-18 00:55] Lecrapouille commented on #20
Closed by https://github.com/sebastiandev/zipper/pull/76

[2020-09-18 00:55] #20 closed

[2020-09-18 00:56] Lecrapouille commented on #31
@RazrFalcon is this fixed now ? Can I close this ticket ?

[2020-09-18 00:56] #31 closed

[2020-09-18 00:58] Lecrapouille commented on #54
Closed by https://github.com/sebastiandev/zipper/pull/76

[2020-09-18 00:58] #54 closed

[2020-09-18 06:28] GiuseppeCesarano commented on #72
Closing this issue since it's fixed with #73. Also the appveyor is fixed with #76!

[2020-09-18 06:28] #72 closed

[2020-09-18 18:53] #26 closed

[2020-10-18 20:08] GiuseppeCesarano commented on #24
I will make an attempt to port this lib to C++17 using std::filesystem. If i have time i will also try to update the minzip dependency, we're using a 7+ year old version.

[2020-10-18 20:13] GiuseppeCesarano opened #79 "Add a .clang-format file"
I'm trying to work a bit on this library, and i noticed an absence of a `.clang-format` file that defines a code style. Could we make one so it's easier for contributors to keep a consistent style while working on the changes?

[2020-10-19 19:10] Lecrapouille commented on #24
@GiuseppeCesarano We can make a branch dev-c++17

[2020-10-19 20:11] Lecrapouille commented on #79
Why not. I personally I never had usage of clang-format since I use emacs :) M-x indent-region and M-x untabify

[2020-10-20 06:23] GiuseppeCesarano commented on #24
I think it's the best approach to make a separate branch

[2020-10-26 12:05] Lecrapouille commented on #79
https://github.com/sebastiandev/zipper/pull/82 I'll cherry pick to other branches

[2020-10-26 12:05] #79 closed

[2020-11-11 20:15] Mimickal opened #83 "zipper::Unzipper:extract silently fails"
### Issue
If a zip archive fails to extract to a directory using `zipper::Unzipper::extract`, the failure is not signaled to the caller in any way.

### Example
The following code attempts to extract an archive to a directory the program does not have write permissions in. I would expect this to throw an exception, or at least return `false` to signify that the extraction failed. Instead, it alway

[2020-12-02 11:56] xd009642 opened #84 "Is Zipper::add threadsafe?"
Am I able to add multiple buffers using multiple threads to the zipper? I couldn't figure it out from the docs (well source code I couldn't find any docs)

[2020-12-04 14:44] xd009642 opened #86 "Can't provide password to unzipper with vector input"
I have a passworded zip as subset of a larger binary blob and would like to be able to extract elements without having to serialize just that subset to disk first. Is there a reason why a password can't be provided for the unzipper constructors with the stream or vector?

If it is possible I also don't mind doing the PR :smile:

[2020-12-05 12:04] xd009642 commented on #84
I'm just going to close this because I don't think it is, but I solved my issue anyway without resorting to threading

[2020-12-05 12:04] #84 closed

[2020-12-09 18:32] Lecrapouille commented on #84
I do not think either.

[2020-12-20 13:11] razaqq commented on #63
same issue here `ninja: error: build.ninja:1067: multiple rules generate ThirdParty/zipper/Zipperd.lib [-w dupbuild=err]`

[2021-02-10 10:46] dmitriym09 opened #87 "Error encrypted archive"
Hello! Thanks for lib!

I have a problem:

Created encrypted archive:

[code]

Build:

[code]

Execute:

[code]

Unpack:

[code]

[2021-02-10 20:04] Lecrapouille commented on #87
Hi ! Yes I tried your code and I get the same issue. I know this lib has a serious miss of unit test and non-regression tests. Password have been recently https://github.com/sebastiandev/zipper/commit/3d1ef500c66869be548b86f080945cd2b613f7f8

[2021-02-10 20:07] Lecrapouille commented on #83
Sorry for the long delay. I'll give a try to look at

[2021-02-10 20:19] Lecrapouille commented on #87
When doing in your code:
[code]
I have the correct content (else I could fix silent error).

[2021-02-10 21:24] Lecrapouille commented on #83
Fixed ! Reopen the ticket if the fix is incomplete

[2021-02-10 21:30] Lecrapouille commented on #86
Hi ! Thanks I gonna check if I can add it

[2021-02-10 23:35] Lecrapouille commented on #86
@xd009642 I made a fix on the develop branch. Tell me if this ok for you.

[2021-02-10 23:35] #86 closed

[2021-02-10 23:39] Lecrapouille commented on #87
I made some fixes on the development branch but for the moment, you can extract the zip with an external tool, you have only use the library. I'll try to understand why.

[2021-02-12 19:44] Lecrapouille commented on #75
@Togtja Sorry for the long delay ! Now prototypes are:
[code]

Is this what you suggested ?

[2021-02-12 19:45] #75 closed

[2021-02-12 21:31] Lecrapouille opened #88 "Remove exception"
Confusing API: either return false or throw exception. We should use a single poison :)
When returning false could be nice to have a sterror/errno method to return a human readble error message.

[2021-02-13 12:50] #62 closed

[2021-02-13 12:54] Lecrapouille commented on #58
Overwriting files inside the zip is not managed. Buts flags `overwrite, append` to pass in the add() methods are in fact private flags to overwriting the zip archive.

[2021-02-13 12:55] Lecrapouille commented on #87
I gave a try on the application inside the minizip folder with the same issue :( This is a too old version.

[2021-02-13 13:37] Lecrapouille commented on #59
Thanks ! This fix https://github.com/sebastiandev/zipper/issues/87

[2021-02-13 13:37] #59 closed

[2021-02-13 13:39] Lecrapouille commented on #87
@dmitriym09 Fixed by https://github.com/sebastiandev/zipper/issues/59
Can you try if this is working for you ? On the develop branch

[2021-02-13 13:39] #87 closed

[2021-02-13 13:42] Lecrapouille commented on #27
Closing this ticket is working (at least on Linux on my side, I cannot test on window). Feel free to reopen this ticket if needed

[2021-02-13 13:42] #27 closed

[2021-02-13 13:44] Lecrapouille commented on #74
Afaik when doing this:
[code]
inp has lost its filename so it'll be difficult to get its timestamp.

[2021-02-13 13:57] Lecrapouille opened #89 "Mixture of public and private flags"
[code]

1. zipFlags are passed to `add()` methods but flags such as `Overwrite and Append` only manage the zip archive and not the file inside the zip.
2. zipFlags could be passed to Zipper constructor ?
3. Anyway this could be used for fixing Relates https://github.com/sebastiandev/zipper/issues/58

[2021-02-15 14:28] Togtja commented on #74
That is true, but when you call `zip.add("test.txt");` you can grap the file date.
In the case of `zip.add(inp, "test.txt")`I beleve the default time date should be `now()` i.e the date/time you currently are in right now

[2021-02-15 19:16] Lecrapouille commented on #74
We can add helper Class methods:
-  `Timestamp(filepath) = timestamp for filepath`
- `Timestamp() = now()`
And pass them as default param

[2021-02-16 02:25] Lecrapouille commented on #63
@Togtja  @razaqq Sorry I'm not good with Window and with CMake :) Since this PR #66 is fixing this, can I close this ticket ?

[2021-02-16 02:25] #63 closed

[2021-02-17 08:55] Tabstone commented on #58
Can this problem be solved or is there any other solution

[2021-02-17 20:18] Lecrapouille commented on #58
@Tabstone For now as far as I understand this not possible. I guess you achieve it only by unzipping and zipping back. Better would contact original authors directly @sebastiandev @fbergmann (if they answer). I guess with the latest minizip version https://github.com/zlib-ng/minizip-ng/ this is directly possible but currently, this project is referencing a SHA1 dated in 2016 (I earnt 1 year of com

[2021-02-19 16:01] Tabstone commented on #58
Is there an API for deleting files

[2021-02-19 18:54] Lecrapouille commented on #58
I know this will not be easy: but this code can help (untested')
[code]

We could improve API by adding such methods:

Extract all file except given files
[code]

Extract from zip and insert to another zip:
[code]

[2021-03-05 13:25] kamil11145 opened #90 "Problem with add method after calling password constructor"
I have problem with add method after calling constructor with password argument. The program "freeze". In debug in go to line zipper.add and doesn't response. Moreover if I execute this code without password parameter everything works fine.

libminizip-dev version (1.1-8build1).
zlib1g-dev version (1:1.2.11.dfsg-0ubuntu2)
Ubuntu 18.04.5 LTS

[code]

[2021-03-08 20:42] Lecrapouille commented on #90
@kamil11145 To be sure to understand you: `zipper.add(myString, "Test1");` does not take any password as param, only the one provided in the constructor is enough. I copied/pasted your current code 'as it' and it is running well (the return 0 is reached). I have a Debian 10. I tried with g++-8.3 and clang++-7, valgrind does not complain. Continuous integration uses your Ubuntu version. You may try

[2021-03-09 18:30] Lecrapouille commented on #62
https://stackoverflow.com/questions/34719785/how-to-add-submodule-files-to-a-github-release

[2021-03-09 18:33] Lecrapouille commented on #62
minizip git submodule is hardly upgraded since zipper authors did not follow evolutions and now we are stuck with an old SHA1.

[2021-03-09 21:02] kamil11145 commented on #90
Hi!
Yes, I understand that the password only go to constructor. I trying run code "as it" and the program just stopped in place which I mark.

What's more funny this code working excellent when I delete password parameter (then I get the correct archive and return 0):
Zipper zipper(zipname, password);	-> 	Zipper zipper(zipname);

I have gcc version 7.5.0

I have done all steps from README:

sudo a

[2021-03-10 11:28] kamil11145 commented on #90
I change gcc for newest version (9.3) and...the problem still exists.
I make a little modification which print me additional information and found out where exactly my program "hangs up". It happen when the method "zipOpenNewFileInZip3_64" is calling. I call this function with below parameter:
nameInZip: Test1, password: 123, flags: 16

bool add(std::istream& input_stream, const std::tm& timestamp

[2021-03-10 13:39] kamil11145 commented on #90
Success!
Your code working excellent! I give you a star, that's all what I can :)!

To everyone in the future who will face similar problem the solution is to compile this program from the sources. I copied sources (zipper and minizip path) to my project and adjust this code to my program directly (I only had to delete function which were prepared for windows and of course replace all #includes <>

[2021-03-10 13:39] #90 closed

[2021-03-11 00:09] Lecrapouille commented on #90
@kamil11145 Your install is ok. In case of doubt, you can give a try within a Docker (download a Ubuntu Docker + redo zipper clone + install).

For what I understand, our project is not faulty (for this case :). I think your system is "messed up" with installed libraries and probably you are linking with the bad zip library (probably installed with `apt-get` or alternative installer), that is why

[2021-03-11 10:31] tokarevvit opened #91 "Oversized archive after zipping"
Hello!
Recently I have reached an archieve with size 36Mb but size of the file inside the archieve was only 18.4Mb.
Why could it happen?
The archieve is avaliable by the link below:
https://drive.google.com/file/d/1YMAqL4N1gX-QRAydCacH3INPwHtql2QV/view?usp=sharing

I use Linux Ubuntu 18.04.

[2021-03-11 12:28] yhyu13 commented on #69
@Lecrapouille I encounter a strange bug that would fail the unit testing with Zlib that is installed from GetGnuWin32 on Win10x64.

[code]

The MSVC debugger points to this line in minizp that invokes a zlib method [here](https://github.com/Lecrapouille/minizip/blob/7619140097aaba8bd49659cb9c4878c4b1dcac30/zip.c#L1258)

I've tried to build @Togtja's branch with zlib submodule that the problem is g

[2021-03-11 19:43] Lecrapouille commented on #91
@tokarevvit Hi ! To be sure, can you give me the code you have used?

[2021-03-11 19:54] Lecrapouille commented on #69
@yhyu13 our minizip reference is dated to 2016. After the API is broken. Not sure how to deal with fresh minizip version.

[2021-03-15 11:43] tokarevvit commented on #91
This archieve has previously writed data at the beginning.
I've found an error in my code that made such situation.

[2021-03-15 22:38] Lecrapouille commented on #91
Yes we can insert several times the same file. I dunno if it was desired by original authors but I would like to fix it https://github.com/sebastiandev/zipper/issues/89

[2021-03-15 22:38] #91 closed

[2021-04-30 19:47] xiao2mo commented on #28
Hi tgy, how did u deal with this problem. I also meet with similar problems when using openmp with it.

[2021-05-01 09:32] tgy commented on #28
On 30.04.2021 12:47, xiao2mo wrote:

I'm really sorry but I have no idea now :-/ It was a long time ago, and
even at the time I did not know exactly what fixed it.. Good luck!

--
Valentin

[2021-05-01 16:52] Lecrapouille commented on #28
Could be nice, if possible, to show an extract of the code this could be added in the README

[2021-05-10 11:25] Togtja commented on #88
If we want to do it more C++, then C. We can model it after the std::filesystem calls.
Where you can give in an std::error_code that holds this information.
[code]
This I belive I can start to implement that, but I am not familliar enough with the implementation of the C style `getLastError` .. etc

[2021-05-10 11:34] Togtja opened #94 "Expose more of minizip's info struct"
Do you know if the CRC of the extracted zipfiles get checked when extracting using Minizip/Zipper to extract?

If it does not I think we should expose the CRC in the `ZipEntry`, and maybe create some functions that unzips and checks the CRC

[2021-05-11 09:01] Togtja commented on #69
As #93 has been merged I will close this.
As to the concern if it is possible to use system defined zlib. It should be.
It uses the [FindZLIB](https://cmake.org/cmake/help/latest/module/FindZLIB.html) cmake command to determin if you already have it in the system. If not then it will attempt to build the submodule

[2021-05-11 09:01] #69 closed

[2021-05-11 09:08] Togtja commented on #94
After digging into minizip and writing some test code. I figured out that minizip does test the CRC when unzipping. However, it throws a generic "UNZ_BADZIPFILE" error, meaning it can be hard to tell exactly why it failed.

I still belive that exposing the CRC, and potetially other minizip file info, like the CRC and Compression method, would be nice for those of us who want to do some more checki

[2021-05-12 10:03] Togtja commented on #74
as #97 is merged, I will close this

[2021-05-12 10:03] #74 closed

[2021-07-23 11:33] BullyWiiPlaza opened #102 "Stuck when adding files to a password protected zip file on WSL Ubuntu"
Here's a simple example code reproducing the issue:
[code]
Project file system structure:
![image](https://user-images.githubusercontent.com/7620135/126775270-5e2fbe62-4400-4aaa-a2cc-b05823d79ecb.png)
Output:
[code]
Here it does not continue. When the code execution is stuck, I can pause the code execution to see the stack trace of where it is stuck:
![image](https://user-images.githubusercontent.

[2021-07-23 16:48] Lecrapouille commented on #102
Hi! I'm currently on holidays your code seems ok on a Mac OS X (not my personal desktop) on the master branch, and on my side I succeeded to zip all files:
[code]

But I could not succeeded to unzip with the zipper of Mac OS X. Are you testing the master or dev branch ?

[2021-07-23 18:56] BullyWiiPlaza commented on #102
Hi, I'm using the commit https://github.com/sebastiandev/zipper/commit/155e17347b64f7182985a2772ebb179184e4f518 which is on the master branch. Maybe this issue only occurs on Linux then. You could quite easily try it on a Ubuntu VM as well I guess.

[2021-08-10 10:35] ElisaTartarini opened #103 "Zip not updated if already exists"
If a new Zipper object is created from an existing path and then files are added with names that are already in the zip, the add operation has no effect.

Should it be possible to pass in the flags to the constructor instead of setting them always to Zipper::Append?
https://github.com/sebastiandev/zipper/blob/201627bd3dbfbf1b53f69af29b8b079a9f3ffb1c/zipper/zipper.cpp#L38-L43

[2021-08-10 12:36] ElisaTartarini commented on #103
EDIT: the file is added but duplicated. And when extracted with Archive Utility on mac, only one of the duplicate entry is extracted

![Screenshot 2021-08-10 at 14 34 08](https://user-images.githubusercontent.com/16403926/128867850-6c7053bd-da90-4012-8b88-9ade0cbd4453.png)

![Screenshot 2021-08-10 at 14 35 33](https://user-images.githubusercontent.com/16403926/128867865-80d6ee29-eb77-4756-a4f0-b1a

[2021-09-03 14:07] panosk commented on #83
Hello,

Unfortunately this change breaks completely the `extractAll()` method.

[2021-09-04 09:43] Lecrapouille commented on #102
Sorry for the long delay I just tried now on my personal Debian on the develop branch, this is working perfectly on my side. I guess a different algorithm is used with an incompatible version of one wrapped lib.

[2021-09-04 10:31] Lecrapouille commented on #83
@panosk Can you provide a basic example ?

[2021-09-04 10:56] Lecrapouille commented on #103
As far I knew this lib this was the behavior. See https://github.com/sebastiandev/zipper/issues/58

[2021-09-04 11:09] Lecrapouille commented on #103
And for passing flags I wanted to do it but the tricky part is explained here https://github.com/sebastiandev/zipper/issues/89

[2021-09-04 12:17] #89 closed

[2021-09-04 12:19] Lecrapouille commented on #103
@ElisaTartarini I committed something in the develop branch. I hope I broke nothing. Feel free to open this ticket back if something is not good.

[2021-09-04 12:19] #103 closed

[2021-09-04 18:49] panosk commented on #83
Sure, here it is:
[code]
I didn't dig much into Zipper's code, but it seems this is happening because the block
[code]
in `extractAll` always returns false.

[2021-09-05 13:16] Lecrapouille commented on #83
Hmm ! Maybe this is related to https://github.com/sebastiandev/zipper/issues/102 in where for some architectures the password is working fine while on others it is not working. Can you simply check with an external tool to open your zip file and read your files. I guess the tools will fail too. Could be cool to know which version and what exact lib your cmake is including

The extractAll() method

[2021-09-05 14:25] Lecrapouille opened #105 "Update to Zlib outdated versions"
@Togtja on the dev branch we are referring to the Zlib master branch which is no longer maintained. Their dev branch has major fixes included, but some are missing (for example https://github.com/madler/zlib/pull/393) can we refer to this dev branch branch and apply some of their fixes ? Ideally would be better to refer and always follow this Zlib https://github.com/zlib-ng/zlib-ng

Referring to h

[2021-09-05 15:01] Lecrapouille commented on #105
I have forked the zlib create a develop-fixes branches from the develop branch and patch with some PR with this method https://coderwall.com/p/6aw72a/creating-patch-from-github-pull-request

[2021-09-05 15:02] Lecrapouille opened #106 "Update to Minizip outdated versions"

[2021-09-05 16:13] Lecrapouille commented on #105
@Togtja I have created the branch `dev-ng` using the submodule referring to `zlib-ng` it seems ok. I also forced zlib-ng to stop using namespace -ng and I forced Zipper to compiled zlib-ng. But I find that odd that cmake .. is building zlib-ng directly. Anyway, I'm really bored of CMake syntax.

[2021-09-06 09:39] JackHack96 commented on #34
I'm having this issue right now. I have a zip that contains only one folder and inside that folder there are a bunch of files.
If I try to extract everything to a specific path, the library just fails.

[code]
[test.zip](https://github.com/sebastiandev/zipper/files/7114906/test.zip)

[2021-09-06 17:34] Lecrapouille commented on #34
@JackHack96 strange, both functions work well for me :( if I comment `unzipper.extract();` and instead of `PATH` I use "ici" the extracted folder are ok. And also tested with an extra folder depth. Have you an '/' at the end of the dir path ?
[code]

With #102 this is the second times people have a different behavior than me. Can you try this following patch:
[code]

What branch do you use, What O

[2021-09-06 17:55] Lecrapouille commented on #34
@JackHack96 In fact can you replace your zipper folder by this one ? Recompile it and install it and re-run your test. I added more logs.

[zipper.zip](https://github.com/sebastiandev/zipper/files/7117369/zipper.zip)

[2021-09-07 06:33] Togtja commented on #105
I can take a look, one of the issues I have had with zlib and submodules is that it renames `zconf.h`, I did create a pull request in the original library about this.
https://github.com/madler/zlib/pull/519/files

[2021-09-07 07:50] panosk commented on #83
@Lecrapouille , thanks for testing.
I'm using zip files created with external tools (7zip), so I can extract them just fine with the tools. I also tried without a password but I still get the same problem.
I'm using the master branch of Zipper (04-05-2021) and it links to zlib 1.2.11 that I compiled and installed on a Windows 10 machine.

[2021-09-07 18:00] Lecrapouille commented on #105
@Togtja sadly this project is dead, on our Zipper development branch, I changed the submodules to refer to my fork refering to their dev branch + some patches. So I can include yours. But the zlib-ng new generation seems to work well so I would like to force compiling Zipper with this one for any OS. At least to follow 1 lib updated (upon 2 since minizip seems more complicated).

[2021-09-07 18:23] Lecrapouille commented on #105
@Togtja Updated on our developement branch

[2021-09-09 20:56] Lecrapouille opened #107 "Annoucement: Zipper v2.0 in gestation"
As far some people know I'm not the author of this lib and help when I can but since principally issues come from Windows and CMake worlds (and hardly C++) two domains I hardly know, I want to clean a little this project in my way of doing things.

So I made the branch v1.0.x to let maintain the old code, I made the branch v2.x.y that I'll work on and when stable I'll merge it to the develop branc

[2021-09-13 17:37] aviadhahami commented on #33
@Lecrapouille Does this mean this package is vulnerable to zipslips rn?
if so - worth adding a comment about it to the readme

[2021-09-13 18:03] Lecrapouille commented on #33
What do you mean by rn ? Zipper by its initial design allows 1/ replacing files when unzipping them (which is not good when you are root) and 2/ allowing relative path name in the zip is also not good since you can extract file outside the folder you want and finally when naming a file `../../../../ ... ../` which a path outer the `/`the unix system will place at `/` so now you can make such attac

[2021-09-14 10:48] aviadhahami commented on #33
by rn (="right now", just to be on the safe side), I mean since https://github.com/sebastiandev/zipper/commit/e20fc3ffe6d33827d3ff4fa0e810d6a9e7955101 was merged into `master` 5 days ago.

[2021-09-14 13:05] aviadhahami commented on #33
Can confirm that the latest build is vulnerable to zipslip 🦗

[2021-09-14 19:47] Lecrapouille commented on #33
@aviadhahami yes I pushed-force the README back since to fix this vulnerability I have to break the behavior or the API and I finally do not want it since I'm not the original author and I cannot talk with them about API changes (since this vulnerability holds 3 years now and minizip is 7 years old ... so no urge). That is why I'll refresh the project on a new branch 2.x.y but for the moment I hav

[2021-10-12 16:59] Lecrapouille commented on #33
Yes thanks since currently I've no time

[2021-12-02 10:59] srroger commented on #34
Hello, I have the same issue (1.0.3)
In fact, the issue comes from when the zip file has been created with an external tool ( and the zip contains a folder)

The extraction fails and return false (without an exception):
`unzipper.extract();`

However, if the zip files has been created with zipper (and the zip contains a folder), then the extraction works perfectly...

[2022-01-09 08:29] Neustradamus opened #110 "Do not mix zlib and zlib-ng and minizip (included in zlib) and minizip-ng"
@sebastiandev: In first, I wish you a Happy New Year!

Please do not mix zlib and zlib-ng and minizip (included in zlib) and minizip-ng.

Currently submodules are not good!

Original MiniZip place:
- https://www.winimage.com/zLibDll/minizip.html

zlib master branch:
- https://github.com/madler/zlib/
- https://github.com/madler/zlib/tree/master/contrib/minizip

zlib develop branch:
- https://github

[2022-03-01 09:35] Lecrapouille commented on #110
@Neustradamus, sebatian never replies, and make a long time I did not dev on this lib but from my memory zipper used zlib which is 10 years old. I succeeded to climb some years on the git history of the dev branch of zlib (our master branch) but after zlib becomes not compatible with our code. The dev-ng version is an attempt to use an up to date versions. I was preparing the v2 a cleaner version

[2022-03-05 10:06] #110 closed

[2022-03-06 05:19] Neustradamus commented on #110
@Lecrapouille: If @sebastiandev has stopped to work on Zipper, it is not possible to move the repo in a better place instead of a fork creation?

@sebastiandev, it is possible to do a transfer in an organization to have a good future for Zipper?

Thanks in advance.

[2022-03-06 05:48] Neustradamus commented on #105
It will be nice to be compatible with original zlib and zlib-ng and original minizip and minizip-ng:

Original MiniZip place:
- https://www.winimage.com/zLibDll/minizip.html

zlib master branch:
- https://github.com/madler/zlib/
- https://github.com/madler/zlib/tree/master/contrib/minizip

zlib develop branch:
- https://github.com/madler/zlib/tree/develop
- https://github.com/madler/zlib/tree/deve

[2022-03-06 05:49] Neustradamus commented on #106
It will be nice to be compatible with original zlib and zlib-ng and original minizip and minizip-ng:

Original MiniZip place:
- https://www.winimage.com/zLibDll/minizip.html

zlib master branch:
- https://github.com/madler/zlib/
- https://github.com/madler/zlib/tree/master/contrib/minizip

zlib develop branch:
- https://github.com/madler/zlib/tree/develop
- https://github.com/madler/zlib/tree/deve

[2022-05-16 04:00] v77777 commented on #34
i also have this problem,but i can sloving this problem like
`Unzipper unzipper(src_file);
  std::vector<ZipEntry> entries = unzipper.entries();
  for (ZipEntry entry : entries)
  {
    unzipper.extractEntry(entry.name, des_folder);
  }`

[2022-07-04 10:00] YJMLWZ opened #112 "unzipper.cpp extractAll can be refined"
locateEntry takes too much time when the entires number is big. e.g. when there are 10000+ entries there. it take huge amount of time to locateEntry.

improvement can be:
goto first file. and do extract
then gotoNext file and do extract until the last,

in my case unzip time improved from 60 seconds to 3 seconds.

[2022-07-04 18:15] Lecrapouille commented on #112
@YJMLWZ Thank you ! Can you do a pull request ?

[2022-07-21 12:53] potterpg opened #113 "What do I need to change to compile a static lib for Mac universal build?"
What do I need to change to compile a static lib for Mac universal build?

in CMake I set the variable CMAKE_OSX_ARCHITECTURES to arm64 x86_64
It seems to compile and generate the lib, but the Arm64 has missing symbols exported, so unusable.

Its probably some simple flag, I just don't know what that is right now.

[2022-07-21 17:39] Lecrapouille commented on #113
I have you tried my v2.x.y branch https://github.com/sebastiandev/zipper/tree/v2.x.y ? I no longer use CMake and my Makefile generates the both libs. I'm now hardly help on this lib I personally dislike CMake so I will only focus on this new branch.

[2022-07-24 08:43] #112 closed

[2022-07-24 08:43] #113 closed

[2022-07-25 09:24] potterpg commented on #113
Hi, thanks for your suggestion.
Cmake generated an xcode project, which I played around with, and managed to make it work for my purposes.
However, thanks for pointing me to the newer version, which presumably works seamlessly.

[2022-08-15 08:48] stan1334 opened #114 "why include minizip &&zlb"
[minizip @ 469fa4b](https://github.com/Lecrapouille/minizip/tree/469fa4bfc8620550db514f940ebc5053b32cf6c9)
[zlib @ 254474d](https://github.com/Lecrapouille/zlib/tree/254474d0dbd0379d39699a74c9b32fb20d484764)

because your ci need more arch，just like x86、arm、aarch。
This kind of project relies on source code that is particularly similar to golang。
i crosscompile arm on x86，once through。

Is there an

[2022-08-15 12:49] Lecrapouille commented on #114
I did not get your point between submodules and CI with different archs. This project needs them and they are outdated. Else yes the CI is offering the strict minimal job and needs to be improved and converted to googletests ... but on my side, I've no more time to offer on this lib. Therefore pull requests are welcome.

[2022-08-15 14:05] #114 closed

[2022-09-10 20:56] Lecrapouille commented on #105
Closing since the branch v2.x is tracking the HEAD of the minizip-ng and I'll no longer maintain the master branch.

[2022-09-10 20:56] #105 closed

[2022-09-10 20:59] Lecrapouille commented on #102
@BullyWiiPlaza Have you the same issue with the v2.x.y branch ? https://github.com/sebastiandev/zipper/tree/v2.x.y I have included your code in unit tests and I have no more issue for Linux and MacOS. I'll stop maintaining the master branch. Please reopen this ticket in case of.

[2022-09-10 20:59] #102 closed

[2022-09-10 21:00] Lecrapouille commented on #88
Closing since implemented on Unzipper for the v2.x.y branch. In gestation: the Zipper classe

[2022-09-10 21:00] #88 closed

[2022-09-10 21:01] Lecrapouille commented on #70
Closing because Valgrind is no longer working on MacOS

[2022-09-10 21:01] #70 closed

[2022-09-10 23:57] Lecrapouille commented on #83
Closed since implemented in the v2.x branch. Reopen it if needed

[2022-09-10 23:57] #83 closed

[2022-09-11 00:02] Lecrapouille commented on #40
Done in v2.x.y branch

[2022-09-11 00:02] #40 closed

[2022-09-11 01:12] Lecrapouille commented on #34
Closed since working on branch 2.x.y. Please reopen this ticket in not fixed

[2022-09-11 01:12] #34 closed

[2022-09-11 01:15] Lecrapouille commented on #24
An attempt was made https://github.com/sebastiandev/zipper/tree/dev-modernize
I did not merge it inside the v2.x.y branch. I do not have energy and time to complete all libs with c++17 filesystem.
Wait for pull requests :)

[2022-09-11 01:15] #24 closed

[2022-09-11 01:16] Lecrapouille commented on #21
Add unit tests inside the v2.x.y branch. Reopen this ticket if not fixed.

[2022-09-11 01:16] #21 closed

[2022-09-11 01:18] Lecrapouille commented on #107
I'll end unit tests on the v2.x.y and once stabilized I'll stall the master branch: I'll stop maintaining it but only the v2.x.y branch

[2022-09-11 01:18] #107 closed

[2022-09-11 01:19] Lecrapouille commented on #61
I'll not implement it, sorry.

[2022-09-11 01:19] #61 closed

[2022-09-11 01:37] Lecrapouille commented on #94
@Togtja  The CRC is used when zipping with passwords (even is EAS is enabled. (Why ?)).
https://github.com/sebastiandev/zipper/blob/66b3f4ae0dc549605ee651cc4ac91fd8fbc72bbb/src/Zipper.cpp#L19

[2022-09-11 01:37] #94 closed

[2022-09-11 10:08] Lecrapouille commented on #33
Added non regression tests in v2.x.y. I'll not fix it on the master API since this will break the API.

[2022-09-11 10:08] #33 closed

[2022-09-12 23:41] Lecrapouille commented on #58
Close since in v2.x.y these flags are used for replacing or appending the zip file and replacing elements in zip is not possible.

[2022-09-12 23:41] #58 closed

[2022-09-12 23:48] Lecrapouille opened #118 "Dummy zip file cannot be open by Unzipper"
This code:

[code]

unzipper will throw error while expecting:
[code]

but unsure to that make sense to create a summy zip file.

[2022-09-14 20:20] #118 closed

[2022-09-14 22:48] Lecrapouille opened #119 "!!! PROJECT HAS CHANGED OF REPO !!!"
For missing administration rights (I'm not the owner) that impacts me on CI, branch management ... I prefer continuing this project on my repo https://github.com/Lecrapouille/zipper so please open issues and pull requests on the new URL:

https://github.com/Lecrapouille/zipper/issues

[2022-09-14 22:50] Lecrapouille commented on #29
To be continued on https://github.com/Lecrapouille/zipper/issues/1

[2022-09-14 22:50] #29 closed

[2022-09-14 22:51] Lecrapouille commented on #106
https://github.com/Lecrapouille/zipper

[2022-09-14 22:51] #106 closed

[2022-10-12 00:32] Neustradamus commented on #119
@Lecrapouille: Why @sebastiandev has not moved this repo directly?

It is always possible?

[2022-10-12 06:44] Lecrapouille commented on #119
@Neustradamus sebastian no longer maintain or reply. And because of slip vulnerability I had to break the API so added major changes. I dunno if master branch shall keep the old API or break it by merging it from the 2.x.y branch ... so I preferred to "continue" the project (with low priority because I have my personal projects too) on my own repo following my changes I made on the dev2.xy branch,

[2022-10-12 16:20] Neustradamus commented on #119
@Lecrapouille: We can see that @sebastiandev is alive...
- https://github.com/sebastiandev

@sebastiandev: It is possible to have an answer and to move the repository in a new place to have a good project?
Thanks in advance.

[2022-10-31 09:27] 1178209138 opened #120 "unzip speed too low!"
I use extract() function to unzip a .zip file(.zip file size is 119MB，Original folder size is 1.46GB and contains a large number of files).At the beginning，speed can reach 39MB/s, but the speed slow down over time. When about 700MB files are extracted, the speed is only 0.1MB/s.
Finally it takes about one hour to finish unzip.
By the way, it takes only 10 second to finish the job when i use rar.
`

[2022-10-31 18:05] Lecrapouille commented on #120
@1178209138 I stopped maintaining this repo and specially the master branch (`extract`). This project does not manage threads and there is some local array[1024] vector::resize(8k) that are created at each iteration. So yes, this is not an optimized lib. Can you share your files (maybe privately) ? This can help benchmarking (else a `ls -la` command can list them with their size I can try to gener

[2022-10-31 18:56] Lecrapouille commented on #120
I quickly checked zipping then unzipping a folder of mp4 with subtitles (the expanse s4: ~5GB) and compare time with the Linux zip command, the time is quite similar (~3min for zipping ~1min for unzipping). Our lib make my desktop get some freezes when unzipping.

Of course, naive openmp on the list of file to compress makes a direct segfault. I duno if minizip and zlib-ng are multi-thread.

[2022-11-01 03:01] 1178209138 commented on #120
How can i share my files with you? E-mail? File size too big to upload here.
In addition, I use this lib in window. Haven't do zipping yet.

[2022-11-01 06:58] Lecrapouille commented on #120
@1178209138 my email is public [lecrapouille@gmail.com](mailto:lecrapouille@gmail.com) and the makefile for the latest changes does not support Windows correctly.

[2022-11-01 07:11] 1178209138 commented on #120
@Lecrapouille Ok ，I'll send it soon.
update, It's a file named "hy_yj_zg_sc.zip", about 119MB, sent.

[2022-11-01 08:10] Lecrapouille commented on #120
@1178209138 I got it

[2022-11-01 08:19] Lecrapouille commented on #120
@1178209138 yep there is bottleneck somewhere. I add my benchmark:

[code]

My config: Ryzen 1800x, SSD, 16 GB RAM, only one core is running (Zipper lib and Linux zip tool)

[2022-11-01 12:07] 1178209138 commented on #120
@Lecrapouille 1 Minutes 34 Seconds seems acceptable. So this problem is caused by window system?

[2022-11-01 12:14] Lecrapouille commented on #120
@1178209138 I added my config in the previous message. Ideas:
- have you SSD or HDD ? This can impact performance.
- have you compiled the v2.x.y branch (the most up-to-date in terms of fixes but I'm not sure it can compile on Windows).
- Can you rerun on Linux ?
- Is Rar multithreaded (you can check CPU loads if one or all cores are 100%).
- `Finally, it takes about one hour to finish unzipping.`

[2022-11-02 01:50] 1178209138 commented on #120
@Lecrapouille
SSD. I use Rar tool to unzip, and it takes just 10 seconds
I compiled the master code. So you are using v2.x.y branch code?
I don't have Linux environment now.
Rar is  not multithreaded, both Rar and zipper got the same CPU loads about 12%.
I just do unzip once. Precisely, it takes about 59 minutes.(using Vistual Studio 2019 debug tool to count).
By the way, I use zipper's debug vers

[2022-11-02 17:49] Lecrapouille commented on #120
@1178209138
- your config is quite similar to my config: no CPU or SDD are the bottleneck point.
- Are you serious: 1 hour with the same zip you sent me !!! This library is not the bottleneck point since people would have complained before you :)
- using Vistual Studio 2019 debug tool to count: this seems to me the key to your issue. You have to do careful introspection job: how you have compiled

[2022-11-03 05:36] 1178209138 commented on #120
@Lecrapouille I compiled with -debug -x64 flags, I'll use release version of this lib do testing again.
Tested, the performance of release version lib is similar with debug version lib.
Maybe main code have some bugs. But v2.x.y branch code don't support cmake, it's hard to compile in window.

[2022-11-03 19:05] Lecrapouille commented on #120
@1178209138 the v2.x.y does not fix bottleneck point compared to the master just behavior fixes. The compilation by itself is not complicated, you just have to download and compile thirdparts in the external as the 2 scripts shell do. I'll have to think how to compile for Windows, I do not use Windows.

[2022-11-13 21:31] Lecrapouille commented on #120
@1178209138 have you solved your issue ?

[2022-11-14 00:56] 1178209138 commented on #120
@Lecrapouille I have not compiled v2.x.y branch yet ，because I have been busy with my work recently.
So, you optimize unzip in your new repo? When I have time. I'll try it out.